# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.al 
.libs 
*.so.[0-9]* 
*.pyc 
*.pyo __pycache__ 
*.rej 
*~ #*# 
.#* 
.*.swp 
.DS_Store
Debug/
Release/
ipch/